div.canvas{
  width: 100%;
  position: relative;
  height: 300px;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}

div.canvas > button{
  position:absolute;
  bottom:0px;
  float: right;
}
